<template>
  <div>
    <q-input v-model="email" type="email" />
    <q-input v-model="password" type="password" clearable />
    <q-btn :loading="loading" color="primary" @click="logIn()">
      Login
      <span slot="loading">
        <q-spinner class="on-left" />
        Logging in...
      </span>
    </q-btn>
  </div>
</template>

<script>
import { QCard, QInput, QBtn, QSpinner } from 'quasar'

export default {
  name: 'loginComponent',
  components: { QCard, QInput, QBtn, QSpinner },
  data () {
    return {
      email: 'email',
      password: 'password',
      loading: false
    }
  },
  methods: {
    logIn () {
      // we set loading state
      this.loading = true
      this.$axios.post('/api/users/login', { email: this.email, password: this.password, rememberMe: false })
        .then(response => {
          let token = response.data.response
          console.log(token)
          this.loading = false
          this.$store.commit('main/logIn', token)
          this.$emit('successful')
          // this.$router.push({ name: 'index' })
        })
        .catch(e => {
          this.loading = false
        })
    }
  }
}
</script>

<style lang="css">
</style>
