<template>
  <q-page padding>
    <q-card>
      <q-card-media>
      </q-card-media>
      <q-card-title>
        <q-input
          v-model="session.name"
        />
        <q-btn
          slot="right"
          color="primary"
          icon-right="send"
          label="Finish"
          class="cursor-pointer"
          @click="save()"
        />
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-collapsible opened>
          <template slot="header">
            <q-input
              v-model="session.workout.name"
              readonly
              placeholder="Workout"
              inverted color="primary"
              @click="$event.stopPropagation()"
            />
            <q-btn color="primary" flat round dense icon="add" @click="addSessionBlock($event)" class="cursor-pointer">
              <q-tooltip>Add exercise</q-tooltip>
            </q-btn>
          </template>
          <q-list>
            <q-collapsible v-for="sessionBlock in session.sessionBlocks" :key="sessionBlock.id" opened>
              <template slot="header">
                <q-btn
                  color="tertiary"
                  :label="sessionBlock.exercise.name"
                  @click="$event.stopPropagation()"
                >
                  <q-popover>
                    <q-list link style="min-width: 100px">
                      <q-item
                        v-for="exercise in exercises"
                        :key="`${exercise.id}`"
                        v-close-overlay
                        @click.native="sessionBlock.exercise = exercise; sessionBlock.exerciseId = exercise.id"
                      >
                        <q-item-main :label="exercise.name" />
                      </q-item>
                    </q-list>
                  </q-popover>
                </q-btn>
                <q-btn color="primary" flat round dense icon="add" @click="addSessionSet(sessionBlock, $event)" class="cursor-pointer">
                  <q-tooltip>Add set</q-tooltip>
                </q-btn>
                <q-btn color="negative" flat round dense icon="delete" @click="removeSessionBlock(index, $event)" class="cursor-pointer">
                  <q-tooltip>Remove block</q-tooltip>
                </q-btn>
              </template>
              <q-list no-border>
                <q-item v-for="(sessionSet, index) in sessionBlock.sessionSets" :key="sessionSet.id">
                  <q-item-main color="primary" :dark="sessionSet.isDone">
                    <div class="row gutter-xs">
                      <div class="col">
                        <q-input
                          v-model="sessionSet.reps"
                          type="number"
                          placeholder="Reps"
                          float-label="Reps"
                          :readonly="sessionSet.isDone"
                          :hide-underline="sessionSet.isDone"
                        />
                      </div>
                      <div class="col">
                        <q-input
                          v-model="sessionSet.weight"
                          type="number"
                          placeholder="Weight"
                          float-label="Weight"
                          :suffix="unitsShown"
                          :readonly="sessionSet.isDone"
                          :hide-underline="sessionSet.isDone"
                        />
                      </div>
                      <div class="col-4 aligner aligner-item">
                        <q-btn
                          v-if="!sessionSet.isDone"
                          label="Done!"
                          color="secondary"
                          icon-right="done"
                          @click="sessionSet.isDone = true; rest(sessionSet.rest); $event.stopPropagation()"
                        />
                      </div>
                      <div class="col-1 aligner aligner-item">
                        <q-btn v-if="!sessionSet.isDone" color="negative" flat round dense icon="delete" @click="removeSessionSet(sessionBlock, index, $event)" class="cursor-pointer">
                          <q-tooltip>Remove set</q-tooltip>
                        </q-btn>
                      </div>
                    </div>
                  </q-item-main>
                </q-item>
              </q-list>
            </q-collapsible>
          </q-list>
        </q-collapsible>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import { QRating, QTooltip, QPopover, QField, QToggle, QChip, QDatetime, QCollapsible, QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QBtnToggle, QSpinner, QSelect } from 'quasar'

export default {
  name: 'do',
  components: { QRating, QTooltip, QPopover, QField, QToggle, QChip, QDatetime, QCollapsible, QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QBtnToggle, QSpinner, QSelect },
  data () {
    return {
      session: {
        name: '',
        workout: {
          name: ''
        },
        sessionBlocks: []
      },
      exercises: [],
      settings: {
        units: 0
      },
      isExiting: false
    }
  },
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    },
    unitsShown: function () {
      if (this.settings.units === 0) {
        return 'kg'
      } else {
        return 'lbs'
      }
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItem()
      }
    }
  },
  beforeDestroy () {
    this.isExiting = true
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItem()
    }
  },
  methods: {
    async getItem () {
      this.$q.loading.show()
      try {
        let id = this.$route.params.id
        let response = await this.$axios.get(`/api/sessions/${id}/do`)
        response.data.sessionBlocks.forEach(function (sessionBlock) {
          sessionBlock.sessionSets.forEach(function (sessionSet) {
            sessionSet['isDone'] = false
          })
        })
        this.session = response.data
        response = await this.$axios.get(`/api/users/exercises`)
        this.exercises = response.data
        response = await this.$axios.get(`/api/users/settings`)
        this.settings = response.data
        if (this.settings.units === 1) {
          this.convertUnits(this.program, 2.2046)
        }
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    },
    async save () {
      this.$q.loading.show()
      try {
        if (this.settings.units === 1) {
          this.convertUnits(this.session, 0.45359237)
        }
        this.session.sessionBlocks.forEach(sessionBlock => {
          sessionBlock.sessionSets = sessionBlock.sessionSets.filter(s => s.isDone)
        })
        this.session.sessionBlocks = this.session.sessionBlocks.filter(b => b.sessionSets.length !== 0)
        let response = await this.$axios.post('/api/sessions', this.session)
        this.$router.push({ name: 'session', params: { id: response.data.id } })
        this.$q.notify({ position: 'top', type: 'positive', message: 'Congratulations, session finished!' })
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    },
    async addSessionBlock (e) {
      e.stopPropagation()
      this.session.sessionBlocks.push({ exerciseId: this.exercises[0].id, exercise: this.exercises[0], sessionSets: [] })
    },
    async removeSessionBlock (index, e) {
      e.stopPropagation()
      this.session.sessionBlocks.splice(index, 1)
    },
    addSessionSet (sessionBlock, e) {
      e.stopPropagation()
      sessionBlock.sessionSets.push({ reps: 0, weight: 0, rest: 0 })
    },
    async removeSessionSet (sessionBlock, index, e) {
      e.stopPropagation()
      sessionBlock.sessionSets.splice(index, 1)
    },
    convertUnits (conversion) {
      this.session.sessionBlocks.forEach(sessionBlock => {
        sessionBlock.sessionSets.forEach(sessionSet => {
          sessionSet.weight = Math.round((sessionSet.weight * conversion) / 2.5) * 2.5
        })
      })
    },
    async rest (rest) {
      this.$q.notify({ position: 'top', type: 'positive', timeout: 1, message: 'Time to rest!' })
      var $app = this
      let totalSecs = rest * 60
      for (let i = 0; i < totalSecs; i++) {
        if (this.isExiting) return
        await this.sleep(function () {
          let currentSec = totalSecs - i
          $app.$q.notify({ position: 'top', type: 'warning', timeout: 1, message: `${currentSec}...` })
        }, 1000)
      }
      this.$q.notify({ position: 'top', type: 'positive', message: 'Done!' })
    },
    timeout (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    async sleep (fn, ...args) {
      await this.timeout(1000)
      return fn(...args)
    }
  }
}
</script>

<style>
.q-collapsible-sub-item {
  padding-left: 0px;
  padding-right: 0px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}
</style>
