<template>
  <q-page padding>
    <q-card>
      <q-card-media>
      </q-card-media>
      <q-card-title v-if="exercise">
        <q-input
          v-model="exercise.name"
          placeholder="Name"
          :readonly="!canEdit"
          :hide-underline="!canEdit"
          @input="onEditing"
        />
        <q-btn
          v-if="isEditing"
          slot="right"
          color="primary"
          flat round dense icon="save"
          class="cursor-pointer"
          @click="save()"
        />
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-card-main>
          <q-input
            v-model="exercise.description"
            type="textarea"
            placeholder="Description"
            float-label="Description"
            :readonly="!canEdit"
            :hide-underline="!canEdit"
            @input="onEditing"/>
        </q-card-main>
        <q-card-main>
          <q-select
            float-label="Equipment"
            placeholder="Equipment"
            v-model="exercise.equipment"
            :options="equipmentList"
            :readonly="!canEdit"
            :hide-underline="!canEdit"
            @input="onEditing"
          />
        </q-card-main>
        <q-card-main>
          <q-btn-toggle
            v-model="exercise.difficulty"
            float-label="Difficulty"
            placeholder="Difficulty"
            toggle-color="secondary"
            :options="[
              { label: 'Low', value: 0 },
              { label: 'Medium', value: 1 },
              { label: 'Hard', value: 2 }
            ]"
            :readonly="!canEdit"
            :hide-underline="!canEdit"
            @input="onEditing"
          />
        </q-card-main>
        <q-card-main>
          <q-select
            float-label="Muscles"
            placeholder="Muscles"
            multiple
            chips
            color="secondary"
            v-model="muscles"
            :options="muscleList"
            :readonly="!canEdit"
            :hide-underline="!canEdit"
            @input="onEditing"
          />
        </q-card-main>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
var $app = null
import { QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QBtnToggle, QSpinner, QSelect } from 'quasar'

export default {
  name: 'exercise',
  components: { QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QBtnToggle, QSpinner, QSelect },
  data () {
    return {
      canEdit: false,
      isEditing: false,
      saved: false,
      exercise: {
        name: '',
        description: '',
        difficulty: 0,
        equipment: 0,
        userId: null,
        muscles: []
      },
      muscleList: [
        { label: 'Quadriceps', value: 1 },
        { label: 'Hamstrings', value: 2 },
        { label: 'Glutes', value: 3 },
        { label: 'Calves', value: 4 },
        { label: 'Chest', value: 5 },
        { label: 'Back', value: 6 },
        { label: 'Shoulders', value: 7 },
        { label: 'Triceps', value: 8 },
        { label: 'Biceps', value: 9 },
        { label: 'Forearms', value: 10 },
        { label: 'Trapezius', value: 11 },
        { label: 'Abs', value: 12 }
      ],
      equipmentList: [
        { label: 'None', value: 0 },
        { label: 'Barbell', value: 1 },
        { label: 'Dumbbell', value: 2 },
        { label: 'EZ Bar', value: 3 },
        { label: 'Kettlebell', value: 4 },
        { label: 'Machine', value: 5 },
        { label: 'Band', value: 6 },
        { label: 'Other', value: 7 }
      ]
    }
  },
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    },
    muscles: {
      get: function () {
        return this.exercise.muscles.map(function (m) { return m.muscleId })
      },
      set: function (newVal) {
        this.exercise.muscles = newVal.map(function (m) { return { muscleId: m, exerciseId: $app.exercise.id } })
      }
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItem()
      }
    }
  },
  async mounted () {
    $app = this
    if (this.$store.state.main.isLoggedIn) {
      await this.getItem()
    }
  },
  methods: {
    onEditing () {
      this.isEditing = true
    },
    async getItem () {
      let id = this.$route.params.id
      if (id === undefined || id === null) {
        this.canEdit = true
        return
      }
      this.$q.loading.show()
      try {
        let response = await this.$axios.get(`/api/exercises/${id}`)
        this.exercise = response.data
        if (this.exercise.userId === this.userId) {
          this.canEdit = true
        }
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    },
    async save () {
      this.$q.loading.show()
      try {
        let id = this.$route.params.id
        if (id === undefined || id === null) {
          await this.$axios.post('/api/exercises', this.exercise)
        } else {
          await this.$axios.put(`/api/exercises/${parseInt(id)}`, this.exercise)
        }
        this.$q.notify({ position: 'top', type: 'positive', message: 'Saved!' })
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
