<template>
  <q-page padding>
    <q-card>
      <q-card-title>
        Exercises
        <q-btn slot="right" color="primary" flat round dense icon="add" @click="goToItem(null)" class="cursor-pointer"/>
      </q-card-title>
      <q-card-main>
        <q-table
          grid
          :data="tableData"
          :columns="columns"
          :filter="filter"
          :loading="loading"
          row-key="id">
          <template slot="top-left" slot-scope="props">
            <q-search
              hide-underline
              color="primary"
              v-model="filter"
              class="col-6"
            />
          </template>
          <q-tr slot="body" slot-scope="props" :props="props" @click.native="goToItem(props.row.id)" class="cursor-pointer">
            <q-td key="name" :props="props">{{ props.row.name }}</q-td>
            <q-td key="description" :props="props">{{ props.row.description }}</q-td>
            <q-td key="equipment" :props="props">
              <q-select
                v-model="props.row.equipment"
                :options="equipmentList"
                :disable="true"
                :hide-underline="true"
              />
            </q-td>
            <q-td key="difficulty" :props="props">
              <q-btn-toggle
                v-model="props.row.difficulty"
                toggle-color="primary"
                :options="[
                  { label: 'Low', value: 0 },
                  { label: 'Medium', value: 1 },
                  { label: 'Hard', value: 2 }
                ]"
                :disable="true"
                :hide-underline="true"
              />
            </q-td>
          </q-tr>
          <div slot="right" class="row items-center">
            <q-icon name="add" />
          </div>
          <div slot="bottom" slot-scope="props" class="row flex-center fit">
            <q-btn
              round dense icon="chevron_left" color="primary" class="q-mr-md"
              :disable="props.isFirstPage"
              @click="props.prevPage"
            />
            <q-btn
              round dense icon="chevron_right" color="primary"
              :disable="props.isLastPage"
              @click="props.nextPage"
            />
          </div>
        </q-table>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import { QSelect, QBtn, QBtnToggle, QSearch, QTable, QTh, QTr, QTd, QTableColumns, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions } from 'quasar'

export default {
  name: 'exercises',
  components: { QSelect, QBtn, QBtnToggle, QSearch, QTable, QTh, QTr, QTd, QTableColumns, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions },
  data: () => ({
    loading: true,
    columns: [
      {
        name: 'name',
        label: 'Name',
        align: 'left',
        field: 'name',
        sortable: true
      },
      {
        name: 'description',
        label: 'Description',
        align: 'left',
        field: 'description',
        sortable: true
      },
      {
        name: 'equipment',
        label: 'Equipment',
        align: 'left',
        field: 'equipment',
        sortable: true
      },
      {
        name: 'difficulty',
        label: 'Difficulty',
        align: 'left',
        field: 'difficulty',
        sortable: true
      }
    ],
    filter: '',
    tableData: [],
    equipmentList: [
      { label: 'None', value: 0 },
      { label: 'Barbell', value: 1 },
      { label: 'Dumbbell', value: 2 },
      { label: 'EZ Bar', value: 3 },
      { label: 'Kettlebell', value: 4 },
      { label: 'Machine', value: 5 },
      { label: 'Band', value: 6 },
      { label: 'Other', value: 7 }
    ]
  }),
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItems()
      }
    }
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItems()
    }
  },
  methods: {
    async getItems () {
      this.$q.loading.show()
      try {
        let response = await this.$axios.get(`/api/users/exercises`)
        this.tableData = response.data
        this.loading = false
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
        this.loading = false
      }
      this.$q.loading.hide()
    },
    goToItem (itemId) {
      this.$q.loading.show()
      this.$router.push({ name: 'exercise', params: { id: itemId } })
      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
