<template>
  <q-page padding>
    <div class="row gutter-xs">
      <div class="col-xs-12">
        <q-card>
          <q-card-title>
            My Maxes
          </q-card-title>
          <q-card-separator />
          <q-card-main>
            <maxes-chart
              v-if="!loading"
              :y-ticks="{ min: 0, max: 300 }"
              :chartData="maxes"
              :options="{ responsive: true, maintainAspectRatio: false, scales: { xAxes: [{ gridLines: { display: true } }], yAxes: [{ gridLines: { display: true }, ticks: { beginAtZero: true } }] } }"
            />
          </q-card-main>
        </q-card>
      </div>
      <!-- <div class="col-xs-12">
        <q-card>
          <q-card-title>
            My Progress
          </q-card-title>
          <q-card-separator />
          <q-card-main>
          </q-card-main>
        </q-card>
      </div> -->
    </div>
    <br /><br />
    <div padding>
      <q-timeline v-if="sessions.length > 0" responsive color="secondary">
        <q-timeline-entry heading>
          My Last Sessions
        </q-timeline-entry>
        <q-timeline-entry
          v-for="session in sessions"
          :key="session.id"
          :title="session.name"
          :subtitle="$d(new Date(session.createdAt), 'long')"
          side="left"
        >
          <div>
            <q-list inset-separator>
              <q-item v-for="sessionBlock in session.sessionBlocks" :key="sessionBlock.id">
                <q-item-main>
                  <q-btn readonly color="tertiary">{{sessionBlock.exercise.name}}</q-btn>
                </q-item-main>
                <q-item-side right>
                  <q-list inset-separator>
                    <q-item v-for="sessionSet in sessionBlock.sessionSets" :key="sessionSet.id">
                      <q-item-main right>
                        <q-chip color="secondary">{{sessionSet.reps}} x {{sessionSet.weight}} {{unitsShown}}</q-chip>
                      </q-item-main>
                    </q-item>
                  </q-list>
                </q-item-side>
              </q-item>
            </q-list>
          </div>
        </q-timeline-entry>
      </q-timeline>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import MaxesChart from './charts/maxesChart'
import { date, QChip, QBtn, QTimeline, QTimelineEntry, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QList, QListHeader, QItem, QItemMain, QItemSeparator, QItemSide, QItemTile } from 'quasar'

export default {
  name: 'index',
  components: { MaxesChart, date, QChip, QBtn, QTimeline, QTimelineEntry, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QList, QListHeader, QItem, QItemMain, QItemSeparator, QItemSide, QItemTile },
  data () {
    return {
      loading: false,
      sessions: [],
      settings: {
        units: 0
      },
      maxes: null
    }
  },
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    },
    unitsShown: function () {
      if (this.settings.units === 0) {
        return 'kg'
      } else {
        return 'lbs'
      }
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItems()
      }
    }
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItems()
    }
  },
  methods: {
    async getItems () {
      this.$q.loading.show()
      try {
        this.loading = true
        let response = await this.$axios.get(`/api/users/sessions/last/3`)
        this.sessions = response.data
        response = await this.$axios.get(`/api/users/settings`)
        this.settings = response.data
        response = await this.$axios.get(`/api/users/maxes`)
        // this.maxes.datasets.data = response.data.map(function (d) {
        //   return d.maxWeight
        // })
        // this.maxes.datasets.data.push(0)
        // this.maxes.datasets.data.push(300)
        let maxes = {
          labels: response.data.map(function (d) {
            return d.exerciseName
          }),
          datasets: [{
            label: 'Max Weight',
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1,
            data: response.data.map(function (d) {
              return d.maxWeight
            })
          }]
        }
        this.maxes = maxes
        this.loading = false
      } catch (err) {
        console.log(err)
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
        this.loading = false
      }
      this.$q.loading.hide()
    }
  }
}
</script>
