<template>
  <q-page padding>
    <q-card>
      <q-card-title>
        Login
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-card-main>
          <q-field
            :error="$v.form.email.$error"
            error-label="Email is required and must be a valid email address"
          >
            <q-input
              v-model="form.email"
              type="email"
              placeholder="Email"
              :before="[{icon: 'mail', handler () {}}]"
              @blur="$v.form.email.$touch"
              @keyup.enter="logIn"
              :error="$v.form.email.$error"
            />
          </q-field>
        </q-card-main>
        <q-card-main>
          <q-field
            :error="$v.form.password.$error"
            error-label="Password is required"
          >
            <q-input
              v-model="form.password"
              type="password"
              placeholder="Password"
              float-label="Password"
              @blur="$v.form.password.$touch"
              @keyup.enter="logIn"
              :error="$v.form.password.$error"
            />
          </q-field>
        </q-card-main>
      <q-card-separator/>
      <q-card-actions>
        <q-btn
          @click="logIn()"
          label="Login"
          type="submit"
          color="primary"
        />
        <q-btn
          @click.native="$router.push({ name: 'register' })"
          label="I don't have an account yet"
          color="secondary"
          left
        />
      </q-card-actions>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import { QField, QCheckbox, QInput, QBtn, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions } from 'quasar'

export default {
  name: 'login',
  components: { QField, QCheckbox, QInput, QBtn, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions },
  data () {
    return {
      form: {
        email: '',
        password: ''
      }
    }
  },
  validations: {
    form: {
      email: { required, email },
      password: { required }
    }
  },
  methods: {
    async logIn () {
      this.$v.form.$touch()

      if (this.$v.form.$error) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Please review fields again' })
        return
      }

      this.$q.loading.show()

      try {
        let response = await this.$axios.post('/api/users/login', { email: this.form.email, password: this.form.password })
        let token = response.data.response
        this.$store.commit('main/logIn', token)
        this.$store.commit('main/setLogIn', true)
        this.$router.push({ name: 'index' })
      } catch (err) {
        this.$store.commit('main/setLogIn', false)
        this.$q.notify({ position: 'top', type: 'negative', message: 'Invalid login data' })
      }

      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
