<template>
  <q-page padding>
    <q-card>
      <q-card-title>
        Muscles
      </q-card-title>
      <q-card-main>
        <q-table
          :data="tableData"
          :columns="columns"
          :loading="loading"
          :rows-per-page-options="[0]"
          :pagination.sync="pagination"
          row-key="id"
          hide-bottom>
          <q-tr slot="body" slot-scope="props" :props="props" @click.native="$router.push({ name: 'muscle', params: { id: props.row.id } })" class="cursor-pointer">
            <q-td v-for="col in props.cols" :key="col.name">
              {{ col.value }}
            </q-td>
          </q-tr>
        </q-table>
      </q-card-main>
      <q-card-separator />
    </q-card>
  </q-page>
</template>

<script>
import { QTable, QTh, QTr, QTd, QTableColumns, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions } from 'quasar'

export default {
  name: 'muscles',
  components: { QTable, QTh, QTr, QTd, QTableColumns, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions },
  data: () => ({
    loading: true,
    columns: [
      {
        label: 'Name',
        align: 'left',
        field: 'name',
        sortable: true
      },
      {
        label: 'Description',
        align: 'left',
        field: 'description',
        sortable: true
      }
    ],
    pagination: {
      rowsPerPage: 0
    },
    tableData: []
  }),
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItems()
      }
    }
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItems()
    }
  },
  methods: {
    async getItems () {
      try {
        this.$q.loading.show()
        let response = await this.$axios.get('/api/muscles')
        this.tableData = response.data
        this.loading = false
        this.$q.loading.hide()
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>

<style>
</style>
