<template>
  <q-page class="muscle" padding>
    <q-card>
      <q-card-media>
        <img :src="image" height="auto" width="175">
        <!-- <q-parallax :src="image" :width="175" :height="175">
          <div slot="loading">Loading...</div>
        </q-parallax> -->
      </q-card-media>
      <q-card-title v-if="muscle">
        {{ muscle.name }}
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-card-main>
          <q-input v-model="muscle.name" float-label="Name" readonly/>
        </q-card-main>
        <q-card-main>
          <q-input v-model="muscle.description" float-label="Description" readonly/>
        </q-card-main>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import { QParallax, QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QSpinner } from 'quasar'

export default {
  name: 'muscle',
  components: { QParallax, QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QSpinner },
  data () {
    return {
      muscle: {
        name: '',
        description: ''
      },
      image: `assets/muscles/${this.$route.params.id}.jpg`
    }
  },
  computed: {
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItem()
      }
    }
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItem()
    }
  },
  methods: {
    async getItem () {
      let id = this.$route.params.id
      if (id === undefined) {
        return
      }
      this.$q.loading.show()
      try {
        let response = await this.$axios.get(`/api/muscles/${id}`)
        this.muscle = response.data
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
