<template>
  <q-page padding>
    <q-card>
      <q-card-title>
        Profile
        <q-btn
          label="Reset"
          slot="right"
          color="secondary"
          class="cursor-pointer"
          @click="reset()"
        />
        <q-btn
          v-if="isEditing"
          slot="right"
          color="primary"
          flat round dense icon="save"
          class="cursor-pointer"
          @click="save()"
        />
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-card-title color="secondary">
          Basic info
        </q-card-title>
        <q-input
          v-model="user.userName"
          stack-label="Username"
          :readonly="true"
          :hide-underline="true"
        />
        <q-input
          v-model="user.email"
          stack-label="email"
          :readonly="true"
          :hide-underline="true"
        />
      </q-card-main>
      <q-card-main>
        <q-card-title color="secondary">
          Settings
        </q-card-title>
        <q-btn-toggle
          v-model="user.settings.units"
          float-label="Units"
          placeholder="Units"
          toggle-color="secondary"
          :options="[
            { label: 'Kg', value: 0 },
            { label: 'Lbs', value: 1 }
          ]"
          @input="onEditing"
        />
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import { QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QInput, QBtn, QBtnToggle, QSpinner } from 'quasar'

export default {
  name: 'profile',
  components: { QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QInput, QBtnToggle, QBtn, QSpinner },
  data () {
    return {
      isEditing: false,
      user: {
        userName: '',
        email: '',
        settings: {
          units: 0
        }
      }
    }
  },
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItem()
      }
    }
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItem()
    }
  },
  methods: {
    onEditing () {
      this.isEditing = true
    },
    async getItem () {
      this.$q.loading.show()
      try {
        let response = await this.$axios.get('/api/users/profile')
        this.user = response.data
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    },
    async save () {
      this.$q.loading.show()
      try {
        await this.$axios.put('/api/users/settings', this.user.settings)
        this.isEditing = false
        this.$q.notify({ position: 'top', type: 'positive', message: 'Saved!' })
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    },
    async reset () {
      this.$q.loading.show()
      try {
        await this.$axios.put('/api/users/settings/reset')
        this.$q.notify({ position: 'top', type: 'positive', message: 'Settings have been reset!' })
        await this.getItem()
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
