<template>
  <q-page padding>
    <q-card>
      <q-card-media>
      </q-card-media>
      <q-card-title v-if="program">
        <q-field
          :error="$v.program.name.$error"
          error-label="Name is required"
        >
          <q-input
            v-model="program.name"
            placeholder="Name"
            :readonly="!canEdit"
            :hide-underline="!canEdit"
            @input="onEditing"
          />
        </q-field>
        <q-rating
          v-if="($route.params.id !== undefined && $route.params.id !== null)"
          v-model="programRating.rating"
          :max="5"
          size="2rem"
          slot="right"
          style="margin-right: 25px"
          @input="rate()"
        />
        <q-toggle
          v-model="program.isPublic"
          :readonly="!canEdit"
          label="Public?"
          left-label
          slot="right"
          checked-icon="visibility"
          unchecked-icon="visibility_off"
          color="secondary"
          style="margin-right: 25px"
          @input="onEditing"
        />
        <q-btn
          v-if="!canEdit"
          label="Copy"
          slot="right"
          color="secondary"
          class="cursor-pointer"
          @click="copy()"
        />
        <q-btn
          v-if="isEditing"
          slot="right"
          color="primary"
          flat round dense icon="save"
          class="cursor-pointer"
          @click="save()"
        />
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-card-main>
          <q-input
            v-model="program.description"
            placeholder="Description"
            float-label="Description"
            :readonly="!canEdit"
            :hide-underline="!canEdit"
            @input="onEditing"/>
        </q-card-main>
        <q-collapsible icon="fitness_center" label="Workouts" opened>
          <template slot="header">
            <q-chip color="secondary" class="q-mr-md">Workouts</q-chip>
            <q-btn v-if="canEdit" color="primary" flat round dense icon="add" @click="addWorkout($event)" class="cursor-pointer">
              <q-tooltip>Add workout</q-tooltip>
            </q-btn>
          </template>
          <q-card-main>
            <q-list no-border>
              <q-collapsible v-for="workout in program.workouts" :key="workout.id">
                <template slot="header">
                  <q-input
                    v-model="workout.name"
                    placeholder="Workout"
                    inverted color="primary"
                    @click="$event.stopPropagation()"
                    :readonly="!canEdit"
                    :hide-underline="!canEdit"
                    @input="onEditing"
                  />
                  <q-btn v-if="canEdit" color="primary" flat round dense icon="add" @click="addBlock(workout, $event)" class="cursor-pointer">
                    <q-tooltip>Add exercise</q-tooltip>
                  </q-btn>
                  <q-btn v-if="canEdit" color="negative" flat round dense icon="delete" @click="removeWorkout(workout.id, index, $event)" class="cursor-pointer">
                    <q-tooltip>Remove workout</q-tooltip>
                  </q-btn>
                  <q-btn v-if="($route.params.id !== undefined && $route.params.id !== null && canEdit)" color="secondary" label="Do now!" icon-right="fitness_center" @click="$event.stopPropagation(); $router.push({ name: 'do', params: { id: workout.id } })" class="cursor-pointer">
                    <q-tooltip>Do workout now!</q-tooltip>
                  </q-btn>
                </template>
                <q-list>
                  <q-collapsible v-for="block in workout.blocks" :key="block.id" opened>
                    <template slot="header">
                      <q-btn
                        color="tertiary"
                        :label="block.exercise.name"
                        @click="$event.stopPropagation()"
                        :readonly="!canEdit"
                        :hide-underline="!canEdit"
                      >
                        <q-popover :disable="!canEdit" @input="onEditing">
                          <q-list link style="min-width: 100px">
                            <q-item
                              v-for="exercise in exercises"
                              :key="`${exercise.id}`"
                              v-close-overlay
                              @click.native="block.exercise = exercise; block.exerciseId = exercise.id"
                            >
                              <q-item-main :label="exercise.name" />
                            </q-item>
                          </q-list>
                        </q-popover>
                      </q-btn>
                      <q-btn v-if="canEdit" color="primary" flat round dense icon="add" @click="addSet(block, $event)" class="cursor-pointer">
                        <q-tooltip>Add set</q-tooltip>
                      </q-btn>
                      <q-btn v-if="canEdit" color="negative" flat round dense icon="delete" @click="removeBlock(workout.id, block.id, workout, index, $event)" class="cursor-pointer">
                        <q-tooltip>Remove block</q-tooltip>
                      </q-btn>
                    </template>
                    <q-list no-border>
                      <q-item v-for="(set, index) in block.sets" :key="set.id">
                        <q-item-main color="primary">
                          <div class="row gutter-xs">
                            <div class="col">
                              <q-input
                                v-model="set.reps"
                                type="number"
                                placeholder="Reps"
                                float-label="Reps"
                                :readonly="!canEdit"
                                :hide-underline="!canEdit"
                                @input="onEditing"
                              />
                            </div>
                            <div class="col">
                              <q-input
                                v-model="set.weight"
                                type="number"
                                placeholder="Weight"
                                float-label="Weight"
                                :suffix="unitsShown"
                                :readonly="!canEdit"
                                :hide-underline="!canEdit"
                                @input="onEditing"
                              />
                            </div>
                            <div class="col">
                             <q-input
                                v-model="set.rest"
                                type="number"
                                placeholder="Rest"
                                float-label="Rest"
                                suffix="min"
                                :readonly="!canEdit"
                                :hide-underline="!canEdit"
                                @input="onEditing"
                              />
                            </div>
                            <div class="col-1 aligner aligner-item">
                              <q-btn v-if="canEdit" color="negative" flat round dense icon="delete" @click="removeSet(workout.id, block.id, set.id, block, index, $event)" class="cursor-pointer">
                                <q-tooltip>Remove set</q-tooltip>
                              </q-btn>
                            </div>
                          </div>
                        </q-item-main>
                      </q-item>
                    </q-list>
                  </q-collapsible>
                </q-list>
              </q-collapsible>
            </q-list>
          </q-card-main>
        </q-collapsible>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { QRating, QTooltip, QPopover, QField, QToggle, QChip, QDatetime, QCollapsible, QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QBtnToggle, QSpinner, QSelect } from 'quasar'

export default {
  name: 'program',
  components: { QRating, QTooltip, QPopover, QField, QToggle, QChip, QDatetime, QCollapsible, QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QBtnToggle, QSpinner, QSelect },
  data () {
    return {
      canEdit: false,
      isEditing: false,
      program: {
        name: '',
        description: '',
        isPublic: false,
        workouts: []
      },
      exercises: [],
      settings: {
        units: 0
      },
      programRating: {
        rating: 0
      }
    }
  },
  validations: {
    program: {
      name: { required }
    }
  },
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    },
    unitsShown: function () {
      if (this.settings.units === 0) {
        return 'kg'
      } else {
        return 'lbs'
      }
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItem()
      }
    }
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItem()
    }
  },
  methods: {
    onEditing () {
      this.isEditing = true
    },
    async getItem () {
      let id = this.$route.params.id
      if (id === undefined || id === null) {
        this.canEdit = true
        return
      }
      this.$q.loading.show()
      try {
        let response = await this.$axios.get(`/api/programs/${id}`)
        this.program = response.data
        response = await this.$axios.get(`/api/users/exercises`)
        this.exercises = response.data
        response = await this.$axios.get(`/api/users/settings`)
        this.settings = response.data
        response = await this.$axios.get(`/api/users/programs/${id}/rate`)
        this.programRating = response.data
        if (this.programRating === '') {
          this.programRating = { rating: 0 }
        }
        if (this.settings.units === 1) {
          this.convertUnits(this.program, 2.2046)
        }
        if (this.program.userId === this.userId) {
          this.canEdit = true
        }
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    },
    async save () {
      this.$v.program.$touch()

      if (this.$v.program.$error) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Please review fields again' })
        return
      }

      this.$q.loading.show()
      try {
        if (this.settings.units === 1) {
          this.convertUnits(this.program, 0.45359237)
        }
        let id = this.$route.params.id
        if (id === undefined || id === null) {
          let response = await this.$axios.post('/api/programs', this.program)
          this.$router.push({ name: 'programs', params: { id: response.data.id } })
        } else {
          await this.$axios.put(`/api/programs/${parseInt(id)}`, this.program)
          await this.getItem()
          this.isEditing = false
        }
        this.$q.notify({ position: 'top', type: 'positive', message: 'Saved!' })
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    },
    async copy () {
      this.$q.loading.show()
      try {
        let id = this.$route.params.id
        await this.$axios.post(`/api/users/programs/${parseInt(id)}/copy`)
        this.$q.notify({
          position: 'top',
          type: 'positive',
          message: 'Copied!',
          timeout: 0,
          actions: [
            {
              label: 'Go to My Programs',
              icon: 'arrow_right_alt',
              handler: () => {
                this.$router.push({ name: 'programs' })
              }
            }
          ]
        })
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    },
    async rate () {
      try {
        let id = this.$route.params.id
        await this.$axios.post(`/api/users/programs/${parseInt(id)}/rate`, this.programRating)
        this.$q.notify({ position: 'top', type: 'positive', message: 'Thanks for rating!' })
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
    },
    addWorkout (e) {
      e.stopPropagation()
      this.program.workouts.push({ name: 'Workout', blocks: [] })
      this.isEditing = true
    },
    async removeWorkout (workoutId, index, e) {
      e.stopPropagation()
      let id = this.$route.params.id
      if (id !== undefined && id !== null) {
        try {
          await this.$q.dialog({ title: 'Confirm', message: 'Are you sure you want to delete the workout?', ok: 'Yes', cancel: 'No' })
          await this.$axios.delete(`/api/workouts/${workoutId}`)
          this.$q.notify({ position: 'top', type: 'positive', message: 'Deleted!' })
        } catch (err) {
        }
      }
      this.program.workouts.splice(index, 1)
    },
    async addBlock (workout, e) {
      e.stopPropagation()
      if (this.exercises.length === 0) {
        try {
          let response = await this.$axios.get(`/api/users/exercises`)
          this.exercises = response.data
          response = await this.$axios.get(`/api/users/settings`)
          this.settings = response.data
        } catch (err) {
          this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
        }
      }
      workout.blocks.push({ exerciseId: this.exercises[0].id, exercise: this.exercises[0], sets: [] })
      this.isEditing = true
    },
    async removeBlock (workoutId, blockId, workout, index, e) {
      e.stopPropagation()
      let id = this.$route.params.id
      if (id !== undefined && id !== null) {
        try {
          await this.$q.dialog({ title: 'Confirm', message: 'Are you sure you want to delete the exercise?', ok: 'Yes', cancel: 'No' })
          await this.$axios.delete(`/api/workouts/${workoutId}/blocks/${blockId}`)
          this.$q.notify({ position: 'top', type: 'positive', message: 'Deleted!' })
        } catch (err) {
        }
      }
      workout.blocks.splice(index, 1)
    },
    addSet (block, e) {
      e.stopPropagation()
      block.sets.push({ reps: 0, weight: 0, rest: 0 })
      this.isEditing = true
    },
    async removeSet (workoutId, blockId, setId, block, index, e) {
      e.stopPropagation()
      let id = this.$route.params.id
      if (id !== undefined && id !== null) {
        try {
          await this.$q.dialog({ title: 'Confirm', message: 'Are you sure you want to delete the set?', ok: 'Yes', cancel: 'No' })
          await this.$axios.delete(`/api/workouts/${workoutId}/blocks/${blockId}/sets/${setId}`)
          this.$q.notify({ position: 'top', type: 'positive', message: 'Deleted!' })
        } catch (err) {
        }
      }
      block.sets.splice(index, 1)
    },
    convertUnits (program, conversion) {
      program.workouts.forEach(workout => {
        workout.blocks.forEach(block => {
          block.sets.forEach(set => {
            set.weight = Math.round((set.weight * conversion) / 2.5) * 2.5
          })
        })
      })
    }
  }
}
</script>

<style>
.q-collapsible-sub-item {
  padding-left: 0px;
  padding-right: 0px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}
</style>
