<template>
  <q-page padding>
    <q-card>
      <q-card-title>
        Registration
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-card-main>
          <q-field
            :error="$v.form.userName.$error"
            error-label="Username is required"
          >
            <q-input
              v-model="form.userName"
              type="text"
              placeholder="Username"
              @blur="$v.form.userName.$touch"
              @keyup.enter="register"
              :error="$v.form.userName.$error"
            />
          </q-field>
        </q-card-main>
        <q-card-main>
          <q-field
            :error="$v.form.email.$error"
            error-label="Email is required and must be a valid email address"
          >
            <q-input
              v-model="form.email"
              type="email"
              placeholder="Email"
              :before="[{icon: 'mail', handler () {}}]"
              @blur="$v.form.email.$touch"
              @keyup.enter="register"
              :error="$v.form.email.$error"
            />
          </q-field>
        </q-card-main>
        <q-card-main>
          <q-field
            :error="$v.form.password.$error"
            error-label="Password is required and must contain at least 6 characters"
          >
            <q-input
              v-model="form.password"
              type="password"
              placeholder="Password"
              float-label="Password"
              @blur="$v.form.password.$touch"
              @keyup.enter="register"
              :error="$v.form.password.$error"
            />
          </q-field>
        </q-card-main>
        <q-card-main>
          <q-field
            :error="$v.form.confirmPassword.$error"
            error-label="Both password must match"
          >
            <q-input
              v-model="form.confirmPassword"
              type="password"
              placeholder="Confirm Password"
              float-label="Confirm Password"
              @blur="$v.form.confirmPassword.$touch"
              @keyup.enter="register"
              :error="$v.form.confirmPassword.$error"
            />
          </q-field>
        </q-card-main>
        <q-card-main>
          <q-btn
            @click="register()"
            label="Register"
            color="primary">
          </q-btn>
        </q-card-main>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
var $app = null
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import { QField, QCheckbox, QInput, QBtn, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions } from 'quasar'

export default {
  name: 'register',
  components: { QField, QCheckbox, QInput, QBtn, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions },
  data () {
    return {
      form: {
        userName: '',
        email: '',
        password: '',
        confirmPassword: ''
      }
    }
  },
  async mounted () {
    $app = this
  },
  validations: {
    form: {
      userName: { required },
      email: { required, email },
      password: { required, minLength: minLength(6) },
      confirmPassword: { sameAsPassword: sameAs('password') }
    }
  },
  methods: {
    async register () {
      this.$v.form.$touch()

      if (this.$v.form.$error) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Please review fields again' })
        return
      }

      this.$q.loading.show()

      try {
        await this.$axios.post('/api/users/register', { userName: this.form.userName, email: this.form.email, password: this.form.password, confirmPassword: this.form.confirmPassword })
        this.$q.notify({
          position: 'top',
          type: 'positive',
          timeout: 0,
          message: 'Success!',
          actions: [
            {
              label: 'Go to login',
              icon: 'arrow_right_alt' // optional
            }
          ],
          onDismiss () {
            $app.$router.push({ name: 'login' })
          }
        })
      } catch (err) {
        if (err.response.status === 400) {
          this.$q.notify({ position: 'top', type: 'negative', message: 'User already exists' })
        } else {
          this.$q.notify({ position: 'top', type: 'negative', message: 'Invalid register data' })
        }
      }

      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
