<template>
  <q-page padding>
    <q-card>
      <q-card-title>
        My Sessions
      </q-card-title>
      <q-card-main>
        <q-table
          grid
          :data="tableData"
          :columns="columns"
          :filter="filter"
          :loading="loading"
          row-key="id">
          <template slot="top-left" slot-scope="props">
            <q-search
              hide-underline
              color="primary"
              v-model="filter"
              class="col-6"
            />
          </template>
          <q-tr slot="body" slot-scope="props" :props="props" @click.native="goToItem(props.row.id)" class="cursor-pointer">
            <q-td key="name" :props="props">{{ props.row.name }}</q-td>
            <q-td key="createdAt" :props="props">
              <q-datetime
                disable
                v-model="props.row.createdAt"
                type="date"
              />
            </q-td>
            <q-td key="remove" :props="props">
              <q-btn color="negative" flat round icon="delete" @click.native="remove(props.row.id, $event)" />
            </q-td>
          </q-tr>
          <div slot="right" class="row items-center">
            <q-icon name="add" />
          </div>
          <div slot="bottom" slot-scope="props" class="row flex-center fit">
            <q-btn
              round dense icon="chevron_left" color="primary" class="q-mr-md"
              :disable="props.isFirstPage"
              @click="props.prevPage"
            />
            <q-btn
              round dense icon="chevron_right" color="primary"
              :disable="props.isLastPage"
              @click="props.nextPage"
            />
          </div>
        </q-table>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import { Dialog, QDatetime, QRating, QSearch, QTable, QTh, QTr, QTd, QTableColumns, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions } from 'quasar'

export default {
  name: 'store',
  components: { Dialog, QDatetime, QRating, QSearch, QTable, QTh, QTr, QTd, QTableColumns, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions },
  data: () => ({
    loading: true,
    columns: [
      {
        name: 'name',
        label: 'Name',
        align: 'left',
        field: 'name',
        sortable: true
      },
      {
        name: 'createdAt',
        label: 'Created At',
        align: 'left',
        field: 'createdAt',
        sortable: true
      },
      {
        name: 'remove',
        align: 'left'
      }
    ],
    filter: '',
    tableData: []
  }),
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItems()
      }
    }
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItems()
    }
  },
  methods: {
    async getItems () {
      this.$q.loading.show()
      try {
        let response = await this.$axios.get(`/api/users/sessions`)
        this.tableData = response.data
        this.loading = false
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
        this.loading = false
      }
      this.$q.loading.hide()
    },
    async remove (id, e) {
      e.stopPropagation()
      try {
        await this.$q.dialog({ title: 'Confirm', message: 'Are you sure you want to delete the item?', ok: 'Yes', cancel: 'No' })
        await this.$axios.delete(`/api/sessions/${id}`)
        await this.getItems()
        this.$q.notify({ position: 'top', type: 'positive', message: 'Deleted!' })
      } catch (err) {
        this.loading = false
      }
    },
    goToItem (itemId) {
      this.$q.loading.show()
      this.$router.push({ name: 'session', params: { id: itemId } })
      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
