<template>
  <q-page padding>
    <q-card>
      <q-card-media>
      </q-card-media>
      <q-card-title>
        {{session.name}}
      </q-card-title>
      <q-card-separator />
      <q-card-main>
        <q-collapsible opened>
          <template slot="header">
            <q-input
              v-model="session.workout.name"
              readonly
              placeholder="Workout"
              inverted color="primary"
              @click="$event.stopPropagation()"
            />
          </template>
          <q-list>
            <q-collapsible v-for="sessionBlock in session.sessionBlocks" :key="sessionBlock.id" opened>
              <template slot="header">
                <q-btn
                  readonly
                  color="tertiary"
                  :label="sessionBlock.exercise.name"
                  @click="$event.stopPropagation()"
                >
                  <q-popover disable>
                    <q-list link style="min-width: 100px">
                      <q-item
                        v-for="exercise in exercises"
                        :key="`${exercise.id}`"
                        v-close-overlay
                        @click.native="sessionBlock.exercise = exercise; sessionBlock.exerciseId = exercise.id"
                      >
                        <q-item-main :label="exercise.name" />
                      </q-item>
                    </q-list>
                  </q-popover>
                </q-btn>
              </template>
              <q-list no-border>
                <q-item v-for="sessionSet in sessionBlock.sessionSets" :key="sessionSet.id">
                  <q-item-main color="primary">
                    <div class="row gutter-xs">
                      <div class="col">
                        <q-input
                          v-model="sessionSet.reps"
                          readonly
                          type="number"
                          placeholder="Reps"
                          float-label="Reps"
                          hide-underline="true"
                        />
                      </div>
                      <div class="col">
                        <q-input
                          v-model="sessionSet.weight"
                          readonly
                          type="number"
                          placeholder="Weight"
                          float-label="Weight"
                          :suffix="unitsShown"
                          hide-underline="true"
                        />
                      </div>
                    </div>
                  </q-item-main>
                </q-item>
              </q-list>
            </q-collapsible>
          </q-list>
        </q-collapsible>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import { QPopover, QField, QToggle, QChip, QDatetime, QCollapsible, QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QBtnToggle, QSpinner, QSelect } from 'quasar'

export default {
  name: 'session',
  components: { QPopover, QField, QToggle, QChip, QDatetime, QCollapsible, QInput, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions, QBtn, QBtnToggle, QSpinner, QSelect },
  data () {
    return {
      session: {
        workout: {
          name: ''
        },
        sessionBlocks: []
      },
      exercises: [],
      settings: {
        units: 0
      }
    }
  },
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    },
    unitsShown: function () {
      if (this.settings.units === 0) {
        return 'kg'
      } else {
        return 'lbs'
      }
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItem()
      }
    }
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItem()
    }
  },
  methods: {
    async getItem () {
      this.$q.loading.show()
      try {
        let id = this.$route.params.id
        let response = await this.$axios.get(`/api/sessions/${id}`)
        this.session = response.data
        response = await this.$axios.get(`/api/users/exercises`)
        this.exercises = response.data
        response = await this.$axios.get(`/api/users/settings`)
        this.settings = response.data
        if (this.settings.units === 1) {
          this.convertUnits(this.program, 2.2046)
        }
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }
      this.$q.loading.hide()
    },
    convertUnits (conversion) {
      this.session.sessionBlocks.forEach(sessionBlock => {
        sessionBlock.sessionSets.forEach(sessionSet => {
          sessionSet.weight = Math.round((sessionSet.weight * conversion) / 2.5) * 2.5
        })
      })
    }
  }
}
</script>

<style>
.q-collapsible-sub-item {
  padding-left: 0px;
  padding-right: 0px;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}
</style>
