<template>
  <q-page padding>
    <q-card>
      <q-card-title>
        Store
      </q-card-title>
      <q-card-main>
        <q-table
          grid
          :data="tableData"
          :columns="columns"
          :filter="filter"
          :loading="loading"
          row-key="id">
          <template slot="top-left" slot-scope="props">
            <q-search
              hide-underline
              color="secondary"
              v-model="filter"
              class="col-6"
            />
          </template>
          <q-tr slot="body" slot-scope="props" :props="props" @click.native="$router.push({ name: 'program', params: { id: props.row.id } })" class="cursor-pointer">
            <q-td key="name" :props="props">{{ props.row.name }}</q-td>
            <q-td key="description" :props="props">{{ props.row.description }}</q-td>
            <q-td key="averageRating" :props="props">
              <q-rating
                readonly
                v-model="props.row.averageRating"
                :max="5"
                size="2rem"
              />
            </q-td>
            <q-td key="createdBy" :props="props">{{ props.row.user.userName }}</q-td>
            <q-td key="createdAt" :props="props">
              <q-datetime
                disable
                v-model="props.row.createdAt"
                type="date"
              />
            </q-td>
          </q-tr>
          <div slot="right" class="row items-center">
            <q-icon name="add" />
          </div>
          <div slot="bottom" slot-scope="props" class="row flex-center fit">
            <q-btn
              round dense icon="chevron_left" color="primary" class="q-mr-md"
              :disable="props.isFirstPage"
              @click="props.prevPage"
            />
            <q-btn
              round dense icon="chevron_right" color="primary"
              :disable="props.isLastPage"
              @click="props.nextPage"
            />
          </div>
        </q-table>
      </q-card-main>
    </q-card>
  </q-page>
</template>

<script>
import { QDatetime, QRating, QSearch, QTable, QTh, QTr, QTd, QTableColumns, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions } from 'quasar'

export default {
  name: 'store',
  components: { QDatetime, QRating, QSearch, QTable, QTh, QTr, QTd, QTableColumns, QCard, QCardTitle, QCardMain, QCardMedia, QCardSeparator, QCardActions },
  data: () => ({
    loading: true,
    columns: [
      {
        name: 'name',
        label: 'Name',
        align: 'left',
        field: 'name',
        sortable: true
      },
      {
        name: 'description',
        label: 'Description',
        align: 'left',
        field: 'description',
        sortable: true
      },
      {
        name: 'averageRating',
        label: 'Rating',
        align: 'left',
        field: 'averageRating',
        sortable: true
      },
      {
        name: 'createdBy',
        label: 'Created By',
        align: 'left',
        field: 'user',
        sortable: true
      },
      {
        name: 'createdAt',
        label: 'Created At',
        align: 'left',
        field: 'createdAt',
        sortable: true
      }
    ],
    filter: '',
    tableData: []
  }),
  computed: {
    userId: function () {
      return this.$store.state.main.userId
    },
    isLoggedIn: function () {
      return this.$store.state.main.isLoggedIn
    }
  },
  watch: {
    isLoggedIn: function () {
      if (this.$store.state.main.isLoggedIn) {
        this.getItems()
      }
    }
  },
  async mounted () {
    if (this.$store.state.main.isLoggedIn) {
      await this.getItems()
    }
  },
  methods: {
    async getItems () {
      this.$q.loading.show()
      try {
        let response = await this.$axios.get(`/api/programs`)
        this.tableData = response.data
        this.loading = false
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
        this.loading = false
      }
      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
