<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar
        color="primary"
        :glossy="$q.theme === 'mat'"
        :inverted="$q.theme === 'ios'"
      >
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Gym App
          <div slot="subtitle">Created by Eric Trigo</div>
        </q-toolbar-title>

        <!-- <q-btn
          @click="$router.go(-1)"
          color="primary"
          label="Back"
        /> -->
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>
          Welcome <b>{{ email }}</b>!
        </q-list-header>
        <q-item @click.native="goToProfile()" replace exact>
          <q-item-side left icon="account_circle" color="primary"/>
          <q-item-main label="Profile" />
          <q-item-side right>
            <q-btn flat round dense icon="input" color="primary" @click.native="logOut($event)"/>
          </q-item-side>
        </q-item>
        <q-item :to="{ name: 'index' }" replace exact>
          <q-item-side icon="dashboard" color="primary"/>
          <q-item-main label="Dashboard" />
        </q-item>
        <q-item :to="{ name: 'store' }" replace exact>
          <q-item-side icon="shopping_cart" color="primary"/>
          <q-item-main label="Program Store" />
        </q-item>
        <q-item :to="{ name: 'programs' }" replace exact>
          <q-item-side icon="assignment" color="primary"/>
          <q-item-main label="My Programs" />
        </q-item>
        <q-item :to="{ name: 'sessions' }" replace exact>
          <q-item-side icon="assessment" color="primary"/>
          <q-item-main label="My Sessions" />
        </q-item>
        <q-item :to="{ name: 'exercises' }" replace exact>
          <q-item-side icon="fitness_center" color="primary"/>
          <q-item-main label="Exercises" />
        </q-item>
        <q-item :to="{ name: 'muscles' }" replace exact>
          <q-item-side icon="accessibility" color="primary"/>
          <q-item-main label="Muscles" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <router-view />
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL, QModal } from 'quasar'

export default {
  name: 'default',
  components: { openURL, QModal },
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      email: ''
    }
  },
  async mounted () {
    await this.checkLogIn()
  },
  methods: {
    openURL,
    async checkLogIn () {
      this.$store.dispatch('main/checkLogIn').then(() => {
        if (this.$store.state.main.userId === '') {
          this.$router.push({ name: 'login' })
        } else {
          this.$axios.defaults.headers.common['Authorization'] = 'Bearer ' + this.$store.state.main.token
          this.email = this.$store.state.main.email
          this.$store.commit('main/setLogIn', true)
        }
      })
    },
    async goToProfile () {
      this.$router.push({ name: 'profile' })
    },
    async logOut (e) {
      e.stopPropagation()
      this.$q.loading.show()

      try {
        await this.$axios.post('/api/users/logout')
        this.$store.commit('main/logOut')
        this.$router.push({ name: 'login' })
      } catch (err) {
        this.$q.notify({ position: 'top', type: 'negative', message: 'Error!' })
      }

      this.$q.loading.hide()
    }
  }
}
</script>

<style>
</style>
