<template>
  <q-layout>
    <q-layout-header>
      <q-toolbar>
        <q-toolbar-title>
          Gym App
          <div slot="subtitle">Created by Eric Trigo</div>
        </q-toolbar-title>
        <q-btn
          label="Login"
          flat
          side="right"
          @click.native="$router.push({ name: 'login' })"
        />
        <q-btn
          label="Register"
          flat
          side="right"
          @click.native="$router.push({ name: 'register' })"
        />
      </q-toolbar>
    </q-layout-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import { openURL, QBtn } from 'quasar'

export default {
  name: 'landing',
  components: { openURL, QBtn }
}
</script>

<style>
</style>
